@import 'globalCss.css';

body{
    background: var(--black);
    color: var(--white);
}

/* CONTAINER PROPERTIES */
.container{
    
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1.7fr 1fr;
    grid-template-rows: 0fr 1fr 0.05fr;
    grid-gap: 1rem;

    grid-template-areas: 
            'h h h'
            'l m r'
            'f f f';
}
.container *{
    /*box-shadow: 1px 1px 3px 0px var(--shadow);*/
    padding: var(--fn-regular);
    /*text-align: center;*/
}

/*===========================================*/
/* HEADER ==================================*/
/*=========================================*/

.content-header{
    padding: 0;
    grid-area: h;
    box-shadow: 1px 1px 3px 0px var(--shadow);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.img-box{
    flex-grow: 0;
    padding: 0;
}
.header-title{
    flex-grow: 2;
    padding: 0;
}
.header-user{
    flex-grow: 2;
    font-size: var(--fn-medium);
    padding: 0;
}
#logo{
    flex-grow: 0;
    padding: 0;
    filter: var(--img-color-white);
    width: var(--fn-large);
    height: var(--fn-large);
}
.header-profile{
    flex-grow: 1;
    padding: 0;
    text-decoration: none;
    color: var(--white);
}
.header-profile:active{
    color: var(--orange);
}
/*===============================================*/
/* END HEADER ==================================*/
/*=============================================*/




/*===================================*/
/* MAIN CONTENT ====================*/
/*=================================*/
.content-main{
    grid-area: m;
    padding: 0;
    box-shadow: 1px 1px 3px 0px var(--shadow);
    display: flex;
    flex-direction: column;
    /*background: var(--orange);*/
}
.content-main .main-header{
    flex-grow: 0;
    text-align: center;
    border-bottom: 2px solid var(--white);
}
.content-main .main-body{
    flex-grow: 1;
    border-bottom: 2px solid var(--white);
    /*this handles the scrolling*/
    height: 0rem;
    overflow: scroll;
    background: var(--black);
}
.content-main .main-body .main-content{
    padding: 0;
    background: var(--black);
    border-radius: var(--fn-regular);
    border: 1px solid var(--white);
    margin-top: 1rem;
}
.content-main .main-body .main-content .main-content-header{
    font-size: var(--fn-medium);
    /*margin-bottom: 0rem;*/
    padding: var(--fn-small);
    border-bottom: 1px solid var(--white);
    text-align: center;
}

/* PROGRESS BAR SECTION */
.main-content-body span{
    font-size: var(--fn-large);
}
.main-content-progress{
    /*background: var(--orange);*/
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:1rem 0 0 0;
}
.one, .two, .three{
    z-index: 10;
}
.progress{
    text-align: center;
    border-radius: var(--fn-small);
    color: var(--black);
    background: var(--white);
    position: relative;
    cursor: pointer;
    
}
.progress-line{
    width: 200%;
    height: 5px;
    background: red;
}
.progress::after{
    content: " ";
    position: absolute;
    width: 13rem;
    height: 5px;
    background: var(--white);
    right: 2.5rem;
    top: 50%;
    z-index: -1;
}
.one::after{
    width: 0;
    height: 0;
}

/*.two{
    background: var(--orange);
    color: var(--white);
}*/
.two::after{
    background: var(--white);
}
.three::after{
    background: var(--white);
}

.main-content-footer{
    border-top: 1px solid var(--white);
}
.main-content-footer section{
    padding: 0;
    /*margin: 0;*/
}

/* MAIN CONTENT FOOTER SECTION */ 
.content-main .main-footer{ 
    flex-grow: 0; 
}

/*=======================================*/
/* END MAIN CONTENT ====================*/
/*=====================================*/




/*===============================================*/
/* LEFT CONTENT / REQUESTOR ====================*/
/*=============================================*/
.content-left{
    padding: 0;
    grid-area: l;
    box-shadow: 1px 1px 3px 0px var(--shadow);
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
}
.alert{
    font-size: var(--fn-regular);
    padding: 0;
    margin-bottom: 0;
    background: var(--green);
    border-radius: var(--fn-regular);
    color: var(--white);
}
.content-left .header{
    flex-grow: 0;
    border-bottom: 2px solid var(--white);
    text-align: center;
    /*padding-bottom: 0;*/
}
/* Requestor Body Section */
.content-left .body{
    flex-grow: 1;
    border-bottom: 2px solid var(--white);
    display: flex;
    flex-direction: column;
    /*this handles the scrolling*/
    height: 0rem;
    overflow: scroll;
    padding: var(--fn-regular);
}
.content-left .body .body-content{
    border-radius: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: var(--gray);
}
.content-left .body .body-content:hover{
    background: var(--orange);
}
.content-left .body .body-content label{
    padding: 0;
}
.content-left .body .body-content label:nth-child(2){
    margin-left: 1rem;
    font-size: var(--fn-medium);
}
.content-left .body .body-content label:nth-child(2) a{
    text-decoration: none;
    color: var(--white);
}
.content-left .body .body-content label:nth-child(3){
    text-align: right;
    font-size: var(--fn-small);
}
.content-left .body .body-content .department:before{
    content: 'Department';
    font-style: italic;
    font-size: var(--fn-small);
    display: block;
}

/* Requestor Footer Section*/
.content-left .footer{
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

/* add a requestor button */
.content-left .footer button{
    background: var(--orange);
    border-radius: 2rem;
    color: var(--white);
    text-decoration: none;
    border: none;
    cursor: pointer;
    box-shadow: 1px 1px 2px 0px var(--shadow);
}
.content-left .footer button:active{
    box-shadow: 0px 0px 0px 0px var(--shadow);
    background: var(--gray);
}

/* Modal Pop-up */
.modal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    z-index: 1000;
}
.modal-bg .modal{
    position: relative;
    background: var(--white);
    color: var(--black);
    border-radius: var(--fn-regular);
    width: 30%;
}
.modal-bg .modal form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-bg .modal form span{
    padding: 0;
    font-size: calc(var(--fn-regular) + 2rem);
}
.modal-bg .modal label{
    font-size: var(--fn-medium);
}
.modal-bg .modal form input{
    outline: none;
    margin-top: 1rem;
    text-align: left;
    width: 70%;
    border-radius: 1rem;
    border: none;
    font-size: var(--fn-regular);
}
#submit-btn{
    width: 30%;
    text-align: center;
    background: var(--orange);
    color: var(--white);
    cursor: pointer;
    box-shadow: 1px 1px 2px 0px var(--shadow);
}
#submit-btn:active{
    background: var(--gray);
    box-shadow: 0px 0px 0px 0px var(--shadow);
}
#close-btn{
    position: absolute;
    padding: 1rem;
    top: 0;
    left: 85%;
    width: var(--fn-large);
    height: var(--fn-large);
    text-align: center;
    border-radius: 100%;
    cursor: pointer;
    filter: var(--img-color-black);
}
.modalbg-active{
    visibility: visible;
    opacity: 1;
}
/*===================================================*/
/* END LEFT CONTENT / REQUESTOR ====================*/
/*=================================================*/




/*====================================*/
/* RIGHT CONTENT ====================*/
/*==================================*/
.content-right{
    grid-area: r;
    margin-right: 1rem;
}


/* FOOTER ====================*/
.content-footer{
    grid-area: f;
}


@media only screen and (max-width: 1300px){
    .progress::after{
        width: 10rem;
    }

}

@media only screen and (max-width: 860px){
    .progress::after{
        width: 6rem;
    }

}




